name: Intuiface-CDK Package

on:
  release:
    types: [published]

jobs:

  publish-gpr:
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
      id-token: write   # OIDC
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v5
        with:
          node-version: 22
          registry-url: 'https://registry.npmjs.org'
          scope: '@intuiface'

      - name : Install dependencies
        run: npm ci
        
      - name : Build packages
        run: npm run build

      - name: Publish core to npmjs packages
        run: npm publish dist/libs/core --access public

      - name: Publish components to npmjs packages
        run: npm publish dist/libs/components --access public

      - name: Publish cli to npmjs packages
        run: npm publish dist/libs/cli --access public

      - name: Publish interface-asset to npmjs packages
        run: npm publish dist/libs/tools/interface-asset-schematics --access public